.body{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

/* .body {
    position: relative;
    height: 100vh;
} */

.container {
    position: flex;
    align-items: center;
    margin-top: 90px;
}

.radio {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
}

.submit {
    display: inline-block;
    margin-top: 20px;
    min-width: 80vh;
}

.result{
    margin-top: 40px;
}

.resultHeading {
    color: var(--white2);
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
  }
  

.resultFlex {
display: flex;
gap: 10px;
margin-bottom: 0px;
}

.resultFlex p {
color: var(--white2);
font-size: 14px;
}

.resultInfoL {
width: 75px;
}